.navbar-default{
  background-color: white;
  font-family: 'Fjalla One', sans-serif;
}
.navbar-text{
  width: 1000px;
  height: auto;
}
.container-fluid{
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  margin-top: -20px;
}
.content-1{
  background-color: #f5f5f5;
  margin:5px;
  font-family: 'Fjalla One', sans-serif;
}
#candidate1, #candidate2, #total{
  width: 200px;
  height: 200px;
  margin-left: 45px;
  background-color: white;
  border:none;
  border-radius: 5px;
  max-width: 30%;
  font-family: 'Fjalla One', sans-serif;
}
.content-1{
  margin-top: 5px;
}
.periodbtn,.periodbtn1 {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.periodbtn1{
  background-color: #f5f5f5;
}
.period-dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.candidate-text{
  margin-top: 15px;
}
.dropdown-content a:hover {background-color: #ddd; color: inherit; text-decoration: none;}

.period-dropdown:hover .dropdown-content {display: block;}

.period-dropdown:hover .periodbtn {background-color: white;}
#sidebar-icon{
  font-size:20px;
  cursor: pointer;
}
#job-chart1, #job-chart2, #job-chart3, #job-chart4, #job-chart5, #job-chart6, #job-chart3-1, #job-chart3-2, #job-chart3-3{
  width: 250px;
  height: 200px;
  float: right;
  margin-top: -41px;
  position: relative;
}
#total-text{
  margin-top: 15px;
  margin-bottom: -40px;
}
.percentage{
  font-size:15px;
}
#job-chart2, #job-chart3, #job-chart3-2, #job-chart3-3{
  margin-top: -164px;
}
#job-chart4, #job-chart5, #job-chart6{
  width: 200px;
  height: 100px;
  margin-top: 40px;
}
.highcharts-axis-labels highcharts-xaxis-labels {
  color: white;
}
.content2-text{
  font-size: 40px;
  font-weight: bold;
  text-align:left;
  margin-top: 75px;
}
.content3{
  margin-top: 30px;
  background-color: white;
  font-family: 'Fjalla One', sans-serif;
}
.content5{
  border-radius: 5px;
}
#content5-chart{
  width: 1240px;
  height: 500px;
}
.content4-text{
  text-align:center;
  padding-top: 30px;
  padding-bottom: 15px;
  font-family: 'Fjalla One', sans-serif;
}
.president-photos,#number, #trophy, #losing, #comparison{
  width: 154px;
  border-radius: 50%;
  height: 154px;
  background-color: #f6f6f6;
  margin: 10px;
  margin-left: 15px;
  object-fit: cover;
}
#number{
  text-align:center;
  font-weight:bold;
  font-size:60px;
  padding-top: 32px;
}
.sub-content5{
  margin-top: 10px;
  border-radius: 5px;
  background-color: white;
  font-family: 'Fjalla One', sans-serif;
}
.sub-content5-big{
  width: 1260px;
  margin-top: 10px;
  background-color: white;
  max-width: 100%;
  margin-left: 0px!important;
  padding-top: 15px;
  font-family: 'Fjalla One', sans-serif;
}

@import 'https://code.highcharts.com/css/highcharts.css';

#content3, #content5 {
  height: 400px;
  min-width: 320px;
  margin: 0 auto;
}

#gradient-0 stop {
  stop-color: #7cb5ec;
}
#gradient-0 stop[offset="0"] {
  stop-opacity: 0.75;
}
#gradient-0 stop[offset="1"] {
  stop-opacity: 0;
}
#gradient-1 stop {
  stop-color: #cccccc;
}
#gradient-1 stop[offset="0"] {
  stop-opacity: 0;
}
#gradient-1 stop[offset="1"] {
  stop-opacity: 0.25;
}

/* Apply the gradients */
.first{
  color: green;
}
.second,.third{
  color: red;
}
.content5-text{
  font-size:15px;
  margin-left: 15px;
}
.content5-right{
  float: right;
}
#period{
  margin-left: 0px;
}
#content3-text{
  margin-top: 20px;
}
.highcharts-plot-bands-0{
  display: none;
}
#chart-content2 {
  fill: #ff8533;
}
#job-chart2 #chart-content2 {
  fill: #ffcc00;
}
#job-chart3 #chart-content2 {
  fill: #48ab81;
}
#job-chart1 .highcharts-axis-line,#job-chart1 .highcharts-yaxis-grid,#job-chart1 .highcharts-yaxis,#job-chart1 .highcharts-yaxis-labels,#job-chart1 .highcharts-axis-labels,#job-chart1 .highcharts-xaxis{
  display: none;
}
#job-chart2 .highcharts-axis-line,#job-chart2 .highcharts-yaxis-grid,#job-chart2 .highcharts-yaxis,#job-chart2 .highcharts-yaxis-labels,#job-chart2 .highcharts-axis-labels,#job-chart2 .highcharts-xaxis{
  display: none;
}
#job-chart3 .highcharts-axis-line,#job-chart3 .highcharts-yaxis-grid,#job-chart3 .highcharts-yaxis,#job-chart3 .highcharts-yaxis-labels,#job-chart3 .highcharts-axis-labels,#job-chart3 .highcharts-xaxis{
  display: none;
}
#job-chart4 .highcharts-yaxis,#job-chart4 .highcharts-yaxis-labels,#job-chart4 .highcharts-yaxis-grid,#job-chart4 .highcharts-xaxis-labels,#job-chart4 .highcharts-xaxis{
  display: none;
}
#job-chart5 .highcharts-yaxis,#job-chart5 .highcharts-yaxis-labels,#job-chart5 .highcharts-yaxis-grid,#job-chart5 .highcharts-xaxis-labels,#job-chart5 .highcharts-xaxis{
  display: none;
}
#job-chart6 .highcharts-yaxis,#job-chart6 .highcharts-yaxis-labels,#job-chart6 .highcharts-yaxis-grid,#job-chart6 .highcharts-xaxis-labels,#job-chart6 .highcharts-xaxis{
  display: none;
}
#content5-chart .highcharts-xaxis-labels text:nth-last-child{ display: none!important; }