.navbar-default{
  background-color: white;
  font-family: 'Fjalla One', sans-serif;
}
.navbar-text{
  width: 1000px;
  height: auto;
}
#sidebar-icon{
  font-size:20px;
  cursor: pointer;
}
.container-fluid{
  width: 100%;
  height: auto;
 background: #114357;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-top: -20px;
}
#content-1-chart, #content-2-chart, #content-3-chart{
  min-width: 310px;
  height: 400px;
  margin:0 auto;
}
#content-3-chart{
  margin-top: 80px;
}
#content2-chart3, #content2-chart4 {
  width   : 100%;
  height    : 500px;
  font-size : 11px;
  background-color: white;
} 
.img-inside-pie{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
}
#content-1-chart .highcharts-button-symbol,#content-1-chart .highcharts-exporting-group,#content-1-chart .highcharts-legend{
  display: none;
}
#content-2-chart .highcharts-button-symbol,#content-2-chart .highcharts-exporting-group,#content-2-chart .highcharts-legend{
  display: none;
}
#content2-chart3 .amExportButton,#content2-chart3 .amcharts-pie-label,#content2-chart3 .amcharts-pie-tick{
  display: none;
}
#content2-chart4 .amExportButton,#content2-chart4 .amcharts-pie-label,#content2-chart4 .amcharts-pie-tick{
  display: none;
}
.bgwhite{
background-color: white;
}
.content-3{
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}
.bgwhite{
  height: 100%;
}
#node-image{
  width: 515px;
}
.highcharts-button-normal{
  display: none;
}
.content-1,.content-2{
  padding:20px;
  font-family: 'Fjalla One', sans-serif;
} 
.mar-top-20{
  margin-top: 20px;
  display: inline-block;
}
.content{
  background-color: white;
}
.main-text{
  margin-top: 10px;
}
#mapping-text,#node-text{
  padding-top: 25px;
  margin-bottom: 25px;
}
#node-text{
  margin-left: 240px;
  color: white;
}
#negarawan-text{
  width: 150px;
}
.amcharts-main-div a[href="http://www.amcharts.com"]{
  display: none!important;
}
.pie-chart-thickness{
  width: calc(100% - 4px);
    height: 461px;
    border: 101px solid #fff;
    border-radius: 400px;
    position: absolute;
    top: calc(50% + 23px);
    transform: translateY(-50%);
    left: 0;
    z-index: 9;
    right: 0;
    margin-left: 0;
    margin-right: 0px;
}
.highcharts-button-normal{
  display: none;
}
.dot{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: 50px;
}
.category-text{
  padding-left: 35px;
  padding-top: 3px;
}
.bijak{
  background-color: #b7b83f;
  margin-left: 33px;
}
.nasionalis{
  background-color: #cd82ad;
}
.integritas{
  background-color: #304073;
  margin-left: 15px;
}
.bersih{
  background-color: #448d4d;
  margin-left: 25px;
}
.negarawan{
  background-color: #cc4748;
  margin-left: 15px;
}
.cerdas{
  background-color: #84b761;
      margin-left: 10px;
}
.religius{
  background-color: #fdd400;
}
.tegas{
  background-color: #67b7dd;
}
#content-1-chart .highcharts-xaxis-labels,#content-2-chart .highcharts-xaxis-labels,#content-3-chart .highcharts-xaxis-labels,#content-3-chart .highcharts-yaxis,#content-2-chart .highcharts-yaxis,#content-1-chart .highcharts-yaxis,#content-1-chart .highcharts-yaxis-labels,#content-2-chart .highcharts-yaxis-labels,#content-3-chart .highcharts-yaxis-labels{
  font-family: 'Fjalla One', sans-serif;
}
#content-3-chart .highcharts-legend{
  display: none;
}
.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #D66D75;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E29587, #D66D75);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E29587, #D66D75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Fjalla One', sans-serif;
}

.sidenav a:hover {
    color: #ffcc00;
    text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav h3{
  padding-top: 15px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.menu-icon{
  font-size:30px;
  cursor:pointer;
}
.period-trans{
  background-color: transparent;
}


/*svg*/


#chart-custom .cls-1 {
fill:none;
stroke:black;
}

#chart-custom .cls-11 {
isolation:isolate;
font-size:20px;
font-family: 'Fjalla One', sans-serif;
}

#chart-custom-2 .cls-1,#chart-custom-2 .cls-10,#chart-custom-2 .cls-11,#chart-custom-2 .cls-20,#chart-custom-2 .cls-21,#chart-custom-2 .cls-22,#chart-custom-2 .cls-23,#chart-custom-2 .cls-24,#chart-custom-2 .cls-3,#chart-custom-2 .cls-5,#chart-custom-2 .cls-6,#chart-custom-2 .cls-7,#chart-custom-2 .cls-8 {
fill:none;
stroke-width:3px;
}

#chart-custom-2 .cls-1,#chart-custom-2 .cls-10,#chart-custom-2 .cls-11,#chart-custom-2 .cls-20,#chart-custom-2 .cls-21,#chart-custom-2 .cls-22,#chart-custom-2 .cls-23,#chart-custom-2 .cls-24,#chart-custom-2 .cls-3,#chart-custom-2 .cls-5,#chart-custom-2 .cls-7,#chart-custom-2 .cls-8 {
stroke:#424242;
}

#chart-custom-2 .cls-1,#chart-custom-2 .cls-10,#chart-custom-2 .cls-11,#chart-custom-2 .cls-19,#chart-custom-2 .cls-2,#chart-custom-2 .cls-20,#chart-custom-2 .cls-21,#chart-custom-2 .cls-22,#chart-custom-2 .cls-23,#chart-custom-2 .cls-24,#chart-custom-2 .cls-3,#chart-custom-2 .cls-5,#chart-custom-2 .cls-6,#chart-custom-2 .cls-7,#chart-custom-2 .cls-8 {
isolation:isolate;
}

#chart-custom-2 .cls-19,#chart-custom-2 .cls-2 {
font-size:10px;
fill:#424242;
}

#chart-custom-2 .cls-2 {
font-family: 'Fjalla One', sans-serif;
}

#chart-custom-2 .cls-10,#chart-custom-2 .cls-20,#chart-custom-2 .cls-21,#chart-custom-2 .cls-22,#chart-custom-2 .cls-23,#chart-custom-2 .cls-24,#chart-custom-2 .cls-5 {
stroke-dasharray:5;
}

#chart-custom-2 .cls-6 {
stroke:#fff;
opacity:0.25;
}

#chart-custom-2 .cls-9 {
letter-spacing:-.11em;
}

#chart-custom-2 .cls-19 {
font-family: 'Fjalla One', sans-serif;
}

#chart-custom .cls-2,#chart-custom-2 .cls-15 {
fill:#cd82ad;
}

#chart-custom .cls-3,#chart-custom-2 .cls-14 {
fill:#304072;
}

#chart-custom .cls-4,#chart-custom-2 .cls-13 {
fill:#448c4c;
}

#chart-custom .cls-5,#chart-custom-2 .cls-12 {
fill:#84b761;
}

#chart-custom .cls-6,#chart-custom-2 .cls-18 {
fill:#b7b83f;
}

#chart-custom .cls-7,#chart-custom-2 .cls-25 {
fill:#cc4748  ;
}

#chart-custom .cls-8,#chart-custom-2 .cls-17 {
fill:#fdd400;
}

#chart-custom .cls-9,#chart-custom-2 .cls-16 {
fill:#29b6f6;
}

#chart-custom .cls-10,#chart-custom-2 .cls-4 {
fill:#f2f2f2;
}

#chart-custom-2 .cls-1,#chart-custom-2 .cls-5,#chart-custom-2 .cls-23,#chart-custom-2 .cls-3,#chart-custom-2 .cls-7,#chart-custom-2 .cls-8,#chart-custom-2 .cls-10,#chart-custom-2 .cls-11,#chart-custom-2 .cls-20,#chart-custom-2 .cls-21,#chart-custom-2 .cls-22,#chart-custom-2 .cls-24 {
opacity:0.5;
}
.custom-chart-wrapper{
  width: 90%;
  height: auto;
  background-color: transparent;
  margin-bottom:20px;
}
.node{
  width: 70%;
}
#Group_82{
  padding-left: 140px;
  margin-top: -20px;
}
#Layer_1{
  margin-top:100px;
  padding-left: 40px;
}
#content-1-chart .highcharts-color-7,#content-2-chart .highcharts-color-7,#content-3-chart .highcharts-color-7{
  fill: #67b7de;
}
#content-1-chart .highcharts-color-3,#content-2-chart .highcharts-color-3,#content-3-chart .highcharts-color-3{
  fill: #84b761;
}
#content-1-chart .highcharts-color-4,#content-2-chart .highcharts-color-4,#content-3-chart .highcharts-color-4{
  fill: #b7b83f;
}
#content-1-chart .highcharts-color-5,#content-2-chart .highcharts-color-5,#content-3-chart .highcharts-color-5{
  fill: #cc4748;
}
#content-1-chart .highcharts-color-2,#content-2-chart .highcharts-color-2,#content-3-chart .highcharts-color-2{
  fill: #448c4c;
}
#content-1-chart .highcharts-color-1,#content-2-chart .highcharts-color-1,#content-3-chart .highcharts-color-1{
  fill: #304072;
}
#content-1-chart .highcharts-color-0,#content-2-chart .highcharts-color-0,#content-3-chart .highcharts-color-0{
  fill: #cd82ad;
}
#Group_83 #Line_10,{
  stroke: black;
}